.form_todo{
  width: 100%;
  display: flex;
  justify-content: center;
  input{
    margin: 0;
    margin-right: 10px;
    padding: 0 10px;
    align-items: center;
  }
  button{
    height: 28px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
  }
}
